<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>人口推移グラフ</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="./index.css" >
  </head>
  <body>
    <header>
      <h1 class="headline">
          <span class="top">人口推移グラフ</span>
      </h1>
    </header>
    <main>
    <div id="app">

      <!-- チェックボックス -->
      <div class="panel">
        <a v-for="(item, i) in prefectures":key="i">
          <span>
            <input :id="i" type="checkbox" v-model="sel_pre_code" :value="item.prefCode">
            {{ item.prefName }}
          </span>
        </a>
      </div>

      <!-- 図を描く -->
      <!-- <canvas id="myChart" ></canvas> -->
      <p><button @click="displayGraph">グラフ表示</button></p>
      <canvas id="myChart" ></canvas>
      <!-- <canvas id="displayGraph" ></canvas> -->



      <!-- {{pre_num}} -->
      <!-- {{selected}}<br> -->
      <!-- {{selected}}<br> -->
      <!-- <div>pre_code_l === {{pre_code_l}}</div> -->
      <!-- {{pre_code}}<br> -->
    </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>     -->
    <script src="./index.js"></script>
  </body>
  </html>
  